:root {
  --color1: #CAF0F8;
  --color2: #90E0EF;
  --color3: #00B4D8;
  --color4: #0077B6;
  --color5: #03045E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
}

.defaultButton {
  height: auto;
  background-color: var(--color5);
  color: var(--color1);
  padding: .5em 1em;
  border: none;
  border-radius: 1em;
  margin: .5em;
}

.defaultButton:hover {
  background-color: var(--color4);
  color: var(--color5);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}